/* Sidebar */
.sidebar {
  background-color: #25283d;
  color: white;
  padding: 30px;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar i {
  margin-right: 10px;
}

.sidebar a:hover {
  color: #ffc247;
}

/* User Info Section */
.user-info {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #25283d;
  margin-bottom: 20px; /* Add margin for spacing */
  margin-right: 10px;
}
.user-info div {
  padding: 5px; /* Añade un poco de padding interno para los elementos dentro del contenedor */
  border-radius: 8px; /* Redondea también los elementos internos */
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.user-info div:hover {
  background-color: #ffc247;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
